In [1]:
import pandas as pd
# group by taxa, number for multi-species classification

In [2]:
Species =  pd.read_csv('Species_Names.txt', sep='[-]', engine='python',names = ['Species','Taxa','Serial'])
Species_Cluster = pd.read_csv('Species_Names_Cluster.txt', sep='[-]', engine='python',names = ['Species','Taxa','Serial'])
Species = pd.DataFrame(Species)
Species_Cluster = pd.DataFrame(Species_Cluster)

In [3]:
Species

           Species               Taxa      Serial
0        Accipiter      superciliosus  329800.wav
1        Accipiter      superciliosus  427037.wav
2          Actitis         macularius  448472.wav
3           Agamia              agami   75996.wav
4      Agelasticus    xanthophthalmus   20921.wav
..             ...                ...         ...
576  Xiphocolaptes  promeropirhynchus   23623.wav
577  Xiphocolaptes  promeropirhynchus   23624.wav
578  Xiphorhynchus          obsoletus  437341.wav
579  Xiphorhynchus          obsoletus   47976.wav
580      Zimmerius         gracilipes  258668.wav

[581 rows x 3 columns]

In [4]:
Species[['Species']].value_counts()

Species
Tangara           16
Euphonia          12
Turdus            12
Myrmotherula      11
Myiothlypis       11
                  ..
Myrmoborus         1
Myrmelastes        1
Emberizoides       1
Epinecrophylla     1
Zimmerius          1
Length: 238, dtype: int64

In [5]:
Species[['Species','Taxa']].value_counts()

Species       Taxa
Phaeomyias    murina         5
Euphonia      chlorotica     4
Molothrus     bonariensis    4
Attila        cinnamomeus    4
Patagioenas   subvinacea     4
                            ..
Conirostrum   speciosum      1
Columbina     talpacoti      1
Myrmotherula  menetriesii    1
Columba       livia          1
Zimmerius     gracilipes     1
Length: 350, dtype: int64

In [6]:
Species_Cluster

          Species        Taxa      Serial
0         Aburria      aburri  257423.wav
1         Aburria      aburri  387212.wav
2       Accipiter     bicolor  451839.wav
3       Accipiter    collaris  260335.wav
4       Accipiter    collaris  260336.wav
...           ...         ...         ...
2484    Zimmerius  gracilipes  258668.wav
2485    Zimmerius  gracilipes  258669.wav
2486  Zonotrichia    capensis  232609.wav
2487  Zonotrichia    capensis  377483.wav
2488  Zonotrichia    capensis   47546.wav

[2489 rows x 3 columns]

In [7]:
Species_Cluster[['Species']].value_counts()

Species
Tangara         31
Euphonia        29
Sporophila      29
Calidris        24
Myrmotherula    24
                ..
Diopsittaca      1
Harpia           1
Heliornis        1
Selenidera       1
Querula          1
Length: 499, dtype: int64

In [9]:
vc = Species_Cluster[['Species','Taxa']].value_counts()

In [10]:
vc[vc > 2]

Species         Taxa
Lepidothrix     coronata           8
Euphonia        laniirostris       7
Haplospiza      rustica            7
Streptoprocne   zonaris            7
Sporophila      castaneiventris    7
                                  ..
Ara             chloropterus       3
Epinecrophylla  ornata             3
Empidonomus     varius             3
Entomodestes    leucotis           3
Eubucco         richardsoni        3
Length: 507, dtype: int64